<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bewell">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:icon="@mipmap/heart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/heart"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".StartMeasureActivity"
            android:exported="true" />
        <activity
            android:name=".AskToGivePermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".MeasureResultActivity"
            android:exported="false" />
        <activity
            android:name=".HRVMeasureActivity"
            android:exported="true"
            android:noHistory="true" />
    </application>

</manifest>